<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

NAVIGATION_MENU: <a href="/home"> Home </a> <a href="/aboutUs"> About Us </a> <a href="/contact"> Contact </a> <h3>
    <th:block th:if="${#request.getRemoteUser() != null}" th:text=" 'Welcome ' + ${#request.getRemoteUser()}"></th:block>
    <div th:if="${#request.getRemoteUser() == null}">
        <a href="/login"> Login</a>
    </div>
    <div th:unless="${#request.getRemoteUser() == null}">
        <a href="/logout">logout</a>
    </div>
</h3>
<br>
This is our contact page.
</body>
</html>