<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
NAVIGATION_MENU: <a href="/home"> Home </a> <a href="/aboutUs"> About Us </a> <a href="/contact"> Contact </a> <a href="/login"> Login</a>
<br>
<form method="POST" action="/login">
    <div>
        Enter Username:
    </div>
    <input type="text" name="username">
    <div>
        Enter Password:
    </div>
    <input type="password" name="password">
    <input type="submit" value="Submit">
</form>
<br>
<a href="/register">Register</a>
</body>
</html>