<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
NAVIGATION_MENU: <a href="/home"> Home </a> <a href="/aboutUs"> About Us </a> <a href="/contact"> Contact </a> <a href="/login"> Login</a>
<br>
<form method="POST" action="/register"></form>
<div>
    Enter Name:
</div>
<input type="text" name="name">
<div>
    Enter Surname:
</div>
<input type="text" name="surname">
<div>
    Enter E-mail:
</div>
<input type="text" name="email">
<div>
    Enter Username:
</div>
<input type="text" name="username">
<div>
    Enter Password:
</div>
<input type="password" name="password">
<div>
    Enter ConfirmPassword:
</div>
<input type="password">
<input type="submit" value="Submit">
<br>
<a href="/login">Login</a>

</body>
</html>