<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/cssList.css}">
    <title>Add new rating</title>
</head>
<body style="margin: 0;">
<div id="navigation"><div class="button" id="button-2">
    <div id="slide"></div><a href="/home"> Home </a> </div> <div class="button" id="button-2"> <div id="slide"></div> <a href="/aboutUs"> About Us </a></div> <div class="button" id="button-2">
    <div id="slide"></div><a href="/contact"> Contact </a> </div>
    <th:block th:if="${#request.getRemoteUser() != null}" >
        <div style="display: inline-block;color: #BFC0C0" th:text=" 'Welcome ' + ${#request.getRemoteUser()}"></div>
    </th:block>
    <div class="button" id="button-2" th:if="${#request.getRemoteUser() == null}">
        <div id="slide" th:if="${#request.getRemoteUser() == null}">
        </div>
        <a href="/login">Login</a>
    </div>
    <div class="button" id="button-2" th:unless="${#request.getRemoteUser() == null}">
        <div id="slide" th:unless="${#request.getRemoteUser() == null}"></div>
        <a href="/logout">logout</a>
    </div>
</div>
<div id="body">
<form  method="POST", action="/rating/add">
<div id="forma">
    <label for="rating">Rating:</label>
    <input type="number" name="rating" id="rating" class="form-control">
    <input type="hidden" name="id" th:value="${placeType}">
    <input type="submit" name="submit" class="form-button">
</div>
</form>
</div>
</body>
</html>