<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/cssList.css}">
    <title>Title</title>
</head>
<body style="margin: auto; height: auto;width: auto">
<div id="navigation"><div class="button" id="button-2">
    <div id="slide"></div><a href="/home"> Home </a> </div> <div class="button" id="button-2"> <div id="slide"></div> <a href="/aboutUs"> About Us </a></div> <div class="button" id="button-2">
    <div id="slide"></div><a href="/contact"> Contact </a> </div>
    <th:block th:if="${#request.getRemoteUser() != null}" >
        <div style="display: inline-block;color: #BFC0C0" th:text=" 'Welcome ' + ${#request.getRemoteUser()}"></div>
    </th:block>
    <div class="button" id="button-2" th:if="${#request.getRemoteUser() == null}">
<div id="slide" th:if="${#request.getRemoteUser() == null}">
</div>
    <a href="/login">Login</a>
</div>
    <div class="button" id="button-2" th:unless="${#request.getRemoteUser() == null}">
    <div id="slide" th:unless="${#request.getRemoteUser() == null}"></div>
        <a href="/logout">logout</a>
    </div>
</div>
<div id="body">
<div class="sub-main" style="margin-top: 200px">
    <a href="/place/list-all" style="width: 400px"  >
<img src="https://www.nicepng.com/png/detail/303-3039748_restaurant-icons-chef-icon-free-vector.png" class="button-three" style="width: 300px; height: 200px; display: inline-block"></img>
    </a>
    <a  href="/parking/list-all" style="width: 400px">
<img src="https://media.istockphoto.com/vectors/parking-zone-design-vector-id671539858?k=20&m=671539858&s=612x612&w=0&h=aihS3c-bk8HOIQr0D0aPaDbMVuVKR5qSBdGQdoMUOuc=" class="button-three" style="width: 300px; height: 200px;"></img></a>

    <a href="/taxi/list-all" style="width: 400px">
        <img src="https://media.istockphoto.com/vectors/taxi-icon-vector-id1083280034?k=20&m=1083280034&s=612x612&w=0&h=_TZmLgWF8nfFjI0HI2X3GoGmC9YAwe320iA1JnxN1_s="  class="button-three" style="width: 300px; height: 200px;">
    </a>
    </img>
</div>
<br>
</div>
</body>
</html>