a{
    -webkit-appearance: button;
    -moz-appearance: button;
    -appearance: button;
    text-align: center;
    text-decoration: none;
}
.wClass{
    width: 200px;
}
td{
    width: 300px;
    color: white;
}
body{
    background: #2a2b2c;
    color: white;
    height: 100%;
    margin:0;
    width: 100%;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);
.button-three{
    text-align: center;
    cursor: pointer;
    font-size:24px;
    margin: 0 0 0 100px;
}
td{

    border-bottom: 2px solid #BFC0C0 !important;
    border-bottom: 2px solid #BFC0C0 !important;
}
.button-three {
    position: relative;
    background-color: #f39c12;
    border: none;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.button-three:hover{
    background:#fff;
    box-shadow:0px 2px 10px 5px #97B1BF;
    color:#000;
}

.button-three:after {
    content: "";
    background: #f1c40f;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button-three:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

#button-2 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-2 a {
    position: relative;
    transition: all .35s ease-Out;
}

#slide {
    width: 100%;
    height: 100%;
    left: -200px;
    background: #BFC0C0;
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
}

#button-2:hover #slide {
    left: 0;
}

#button-2:hover a {
    color: #2D3142;
}

#button-2 {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#button-2 a {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
}
#navigation{
    left: 0px;
    background: #3b4146;
}
#body{
    background: #2a2b2c;
    height: 100%;
    color: white;
    position: relative;
    width: 100%;
    left: 2%;
    width: 95%;
}
.form-button {
    background-color: rgba(24, 234, 234, 0.58);
    border-color: rgba(24, 234, 234, 0.58);
    color: darkgreen;
    width: 5.5%;
}
.form-button:hover,
.form-button:focus,
.form-button:active,
.form-button.active,
.form-button:active:focus,
.form-button:active:hover,
.form-button.active:hover,
.form-button.active:focus {
    background-color: rgba(24, 234, 234, 0.58);
    border-color: rgba(24, 234, 234, 0.58);
    color: #e6e6e6;
}
#kopce{
    width: 19.5%;
}
.form-control,
.border-line {
    background-color: #5f5f5f;
    background-image: none;
    border: 1px solid #424242;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 10%;

}
.form-control:focus,
.border-line:focus {
    border-color: #FFEB3B;
    background-color: #616161;
    color: #e6e6e6;
}
.form-control,
.form-control:focus {
    box-shadow: none;
}

.form-control::-webkit-input-placeholder { color: #BDBDBD; }

.EDR{
    color: darkgreen;
    background: rgba(24, 234, 234, 0.58);
    margin-top: 15px;
    text-align: center;
    width: 200px;
}