<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
NAVIGATION_MENU: <a href="/home"> Home </a> <a href="/aboutUs"> About Us </a> <a href="/contact"> Contact </a> <h3>
    <th:block th:if="${#request.getRemoteUser() != null}" th:text=" 'Welcome ' + ${#request.getRemoteUser()}"></th:block>
    <div th:if="${#request.getRemoteUser() == null}">
        <a href="/login"> Login</a>
    </div>
    <div th:unless="${#request.getRemoteUser() == null}">
        <a href="/logout">logout</a>
    </div>
</h3>
<br>
<p>Click the button to get your coordinates.</p>

<button id="tryit" onclick="getLocation()">Try It</button>

<form action="/place/distance" method="POST">
    <div id="forma"></div>
    <div id="demo"></div>
    <input type="submit" value="To calculate distance please select from the places below" id="kopce" disabled="disabled">
</form>

<div>
    Distance:
    <th:block th:text="${distance}">

    </th:block>
</div>
<div>
    Duration:
    <th:block th:text="${duration}">

    </th:block>
</div>
<div>
    Origin:
    <th:block th:text="${origin}">

    </th:block>
</div>
<div>
    Destination:
    <th:block th:text="${destination}">

    </th:block>
</div>
List of places.
<th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/place/add-new">Add new place</a><br>
</th:block>
<form method="GET" action="/place/list-all">
    <select name="sortType" >
        <option
                th:value="Name"
                th:text="Name">
        </option>
        <option  th:value="Rating"
                 th:text="Rating">
        </option>
    </select>
    <input type="submit" value="Submit">
</form>
<div>
    Search Place
    <form method="GET" action="/place/list-all">
        <input type="text" name="search">
        <input type="submit" value="Submit">
    </form>
</div>
<a href="/home">Back</a>
<table>
    <thead>
    <th>
        Name
    </th>
    <th>
        Rating
    </th>
    </thead>
    <th:block th:each="place:${places}">
        <div>
            <tr>
                <td><span name="id" th:value="${place.getId()}" th:text="${place.getName()}"></span></td>
                <td><span name="rating" th:value="${place.getFinalRating()}" th:text="${place.getFinalRating()}"></span></td>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <td><a th:href="@{'/place/edit-form/{id}' (id=${place.getId()})}">Edit</a></td>
                    <td><a th:href="@{'/place/delete/{id}' (id=${place.getId()})}">Delete</a></td>
                </th:block>
                <td><a th:href="@{'/rating/add-new/{id}' (id=${place.getId()})}">Add Rate for Place</a></td>
            </tr>
        </div>
    </th:block>
</table>
<br>
<script>
    function Prefrli(id){
        x =document.getElementById("forma")
        y=document.getElementById("Radio")
        yy=id.value
        kopce=document.getElementById("kopce")
        kopce.disabled=false
        kopce.value="Calculate"
        console.log(id.value)
        x.innerHTML = "<input type='hidden' name='idPlace' value="+yy+">"
    }

    var xxx = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            xxx.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    function showPosition(position) {
        xxx.innerHTML = "<input type='hidden' name='latitude' value="+ position.coords.latitude +">"+
            "<br><input type='hidden' name='longitude' value="+ position.coords.longitude+">"
    }
</script>
</body>
</html>