<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/cssList.css">
    <title>Parking page</title>
</head>
<body>
<div id="navigation"><div class="button" id="button-2">
    <div id="slide"></div><a href="/home"> Home </a> </div> <div class="button" id="button-2"> <div id="slide"></div> <a href="/aboutUs"> About Us </a></div> <div class="button" id="button-2">
    <div id="slide"></div><a href="/contact"> Contact </a> </div>
    <th:block th:if="${#request.getRemoteUser() != null}" >
        <div style="display: inline-block;color: #BFC0C0" th:text=" 'Welcome ' + ${#request.getRemoteUser()}"></div>
    </th:block>
    <div class="button" id="button-2" th:if="${#request.getRemoteUser() == null}">
        <div id="slide" th:if="${#request.getRemoteUser() == null}">
        </div>
        <a href="/login">Login</a>
    </div>
    <div class="button" id="button-2" th:unless="${#request.getRemoteUser() == null}">
        <div id="slide" th:unless="${#request.getRemoteUser() == null}"></div>
        <a href="/logout">logout</a>
    </div>
</div>
<div class="body">
<p>Click the button to get your coordinates.</p>

<button id="tryit" onclick="getLocation()" class="form-button">Try It</button>
<form action="/parking/distance" method="POST">
    <div id="forma"></div>
    <div id="demo"></div>
    <input type="submit" value="To calculate distance please select from the parking below" id="kopce" disabled="disabled" class="form-button">
</form>
<div>
    Distance:
    <th:block th:text="${distance}">

    </th:block>
</div>
<div>
    Duration:
    <th:block th:text="${duration}">

    </th:block>
</div>
<div>
    Origin:
    <th:block th:text="${origin}">

    </th:block>
</div>
<div>
    Destination:
    <th:block th:text="${destination}">

    </th:block>
</div>
<br>
<th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/parking/add-new">Add new parking</a>
</th:block>

<br>
<a class="EDR"  href="/home">Back</a>
    <br>
    <br>
    <br>
<table>
    <tr>
        <td>
            <div>
                Search Parking
                <form method="GET" action="/parking/list-all">
                    <input style="width: 100px; margin-left: 20px" type="text" name="search" class="form-control">
                    <input style="width: 100px; margin-left: 20px" type="submit" value="Search" class="form-button">
                </form>
            </div>
        </td>
        <td>
            <form method="GET" action="/parking/list-all">
                <select name="sortType" >
                    <option
                            th:value="Name"
                            th:text="Name">
                    </option>
                    <option  th:value="Rating"
                             th:text="Rating">
                    </option>
                </select>
                <input style="width: 100px" type="submit" value="Sort" class="form-button">
            </form>
        </td>
        <td>
            <div style="width: 200px">

            </div>
        </td>
    </tr>
    <th:block th:each="parking:${parkings}">
        <tr>
            <div>
                <td>
                    <span name="id" th:value="${parking.getId()}" th:text="${parking.getName()}"></span>
                    <span name="rating" th:value="${parking.getFinalRating()}" th:text="${parking.getFinalRating()}"></span>
                </td>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <td><a class="EDR" th:href="@{'/parking/edit-form/{id}' (id=${parking.getId()})}">Edit</a>
                        <a class="EDR" th:href="@{'/parking/delete/{id}' (id=${parking.getId()})}">Delete</a>
                </th:block>
                <a th:href="@{'/rating/add-new/{id}' (id=${parking.getId()})}">Add Rate for this parking</a></td>
                <td><input id="Radio" onclick="Prefrli(this)" type="radio" name="idRadio" th:value="${parking.getId()}" th:text="Select"></td>
            </div>
        </tr>
    </th:block>
</table>

    <script src="/static/js/getDistance.js"></script>

</div>
</body>
</html>