<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/cssList.css}">
    <script type="text/javascript" th:src="@{/js/getDistanceJS.js}"></script>
    <title>Places page</title>
</head>

<body>
<div id="navigation"><div class="button" id="button-2">
    <div id="slide"></div><a href="/home"> Home </a> </div> <div class="button" id="button-2"> <div id="slide"></div> <a href="/aboutUs"> About Us </a></div> <div class="button" id="button-2">
    <div id="slide"></div><a href="/contact"> Contact </a> </div>
    <th:block th:if="${#request.getRemoteUser() != null}" >
        <div style="display: inline-block;color: #BFC0C0" th:text=" 'Welcome ' + ${#request.getRemoteUser()}"></div>
    </th:block>
    <div class="button" id="button-2" th:if="${#request.getRemoteUser() == null}">
        <div id="slide" th:if="${#request.getRemoteUser() == null}">
        </div>
        <a href="/login">Login</a>
    </div>
    <div class="button" id="button-2" th:unless="${#request.getRemoteUser() == null}">
        <div id="slide" th:unless="${#request.getRemoteUser() == null}"></div>
        <a href="/logout">logout</a>
    </div>
</div>

<div id="body">

    <p>Click the button to get your coordinates.</p>

    <button id="tryit" onclick="getLocation()" class="form-button, wClass">Get my location!</button>

    <form action="/place/distance" method="POST">
        <div id="forma"></div>
        <div id="demo"></div>
        <input  type="submit" value="Please select a place to calculate distance!" id="kopce" disabled="disabled" class="form-button,wClass">
    </form>

    <div>
        Distance:
        <th:block th:text="${distance}">

        </th:block>
    </div>
    <div>
        Duration:
        <th:block th:text="${duration}">

        </th:block>
    </div>
    <div>
        Origin:
        <th:block th:text="${origin}">

        </th:block>
    </div>
    <div>
        Destination:
        <th:block th:text="${destination}">

        </th:block>
    </div>
<th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <a class="EDR" href="/place/add-new">Add new place</a><br>
</th:block>

    <br>
<a class="EDR" href="/home">Back</a>
    <br>
    <br>
    <br>
<table>
    <tr>
    <td>
        <div>
        <form method="GET" action="/place/list-all">
            <input style="width: 100px; margin-left: 20px" type="text" name="search" class="form-control">
            <input style="width: 100px; margin-left: 20px" type="submit" value="Search" class="form-button">
        </form>
    </div>
    </td>
        <td></td>
    <td>
    <div>
        <form method="GET" action="/place/list-all">
            <select name="sortType" >
                <option
                        th:value="Name"
                        th:text="Name">
                </option>
                <option  th:value="Rating"
                         th:text="Rating">
                </option>
            </select>
            <input style="width: 100px" type="submit" value="Sort" class="form-button">
        </form>
    </div>
    </td>
    </tr>
    <th:block th:each="place:${places}">
        <div>
            <tr>
                <td>
                    <div name="id" th:value="${place.getId()}" th:text="${place.getName()}"></div>
                    <div name="rating" th:value="${place.getFinalRating()}" th:text="${place.getFinalRating()}"></div>
                </td>
                <td>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="EDR" th:href="@{'/place/edit-form/{id}' (id=${place.getId()})}">Edit</a>
                    <br>
                    <a class="EDR" th:href="@{'/place/delete/{id}' (id=${place.getId()})}">Delete</a>
                    <br>
                    <a class="EDR" th:href="@{'/rating/add-new/{id}' (id=${place.getId()})}">Rate me!</a>
                </th:block>
                </td>
               <td>
                   <p>Click the button to get distance </p>
                <td> <input class="option-input radio" id="Radio" onclick="Prefrli(this)" type="radio" name="idRadio" th:value="${place.getId()}" th:text="Select"></td>
            </tr>
        </div>
    </th:block>
</table>
<br>

</div>
</body>
</html>